<div *ngIf="weather.DateTime != undefined" class="weather-container">
  <span class="weather-label">{{ (weather)?.DateTime | stringToHour }}:00</span>
  <img [src]='"https://developer.accuweather.com/sites/default/files/" + ((weather)?.WeatherIcon > 9? (weather)?.WeatherIcon.toString(): "0" + (weather)?.WeatherIcon) +"-s.png"' alt="">
  <span>{{ (weather)?.Temperature.Value + "&#730;" }}</span>
</div>
<div *ngIf="weather.Date != undefined" class="weather-container">
  <span class="weather-label">{{ (weather)?.Date | stringToDay }}</span>
  <img
    [src]='"https://developer.accuweather.com/sites/default/files/" + ((weather)?.Day.Icon > 9? (weather)?.Day.Icon.toString(): "0" + (weather)?.Day.Icon) +"-s.png"'
    alt="">
  <span>{{ (weather)?.Temperature.Maximum.Value + "&#730;" }}</span>
  <span>{{ (weather)?.Temperature.Minimum.Value + "&#730;" }}</span>
</div>