<div class="weather-container">
  <span class="weather-label">{{ weatherInfo.Label }}</span>
  
  <div *ngIf="type == 'hour'" class="weather-info">
      <img [src]='weatherInfo.IconUrls' alt="">
      <span>{{ weatherInfo.Temperature | celsiusToFahrenheit:metric }}</span>
  </div>

  <div *ngIf="type == 'day'" class="weather-info" [ngClass]="{'weather-info-day': type == 'day'}">
      <img [src]='weatherInfo.IconUrls.Day' alt="">
      <img [src]='weatherInfo.IconUrls.Night' alt="">
      <span>{{ weatherInfo.Temperature.Maximum | celsiusToFahrenheit:metric }}</span>
      <span>{{ weatherInfo.Temperature.Minimum | celsiusToFahrenheit:metric }}</span>
  </div>

</div>